<html>

<head>
    <link rel="stylesheet" href="dropbox_styles.css">
    <link rel="icon" href="favicon.ico">
    <title>
        archive - manish
    </title>
</head>

<div>
    <ul class="ascii">
        <li onclick="location.href='/index.html'">← go back home
        </li>
    </ul>
    <div style="height: 8px;"></div>
    <ul class="ascii">
        <li>archived/
            <ul>
                <!-- <li>css/
                    <ul>
                        <li>bootstrap.css</li>
                        <li>bootstrap.min.css</li>
                        <li>bootstrap-theme.css</li>
                        <li>bootstrap-theme.min.css</li>
                    </ul>
                </li> -->
                <li><a href="assets/appsigning.pdf">appsigning.pdf</a></li>
                <li><a href="assets/GradleWrapper.pdf">GradleWrapper.pdf</a></li>
                <li><a href="assets/jit_aot.pdf">jit_aot.pdf</a></li>
                <li><a href="assets/proGuard.pdf">proGuard.pdf</a></li>
                <li><a href="assets/R8vsProguard.pdf">R8vsProguard.pdf</a></li>
                <li><a href="assets/settingsgradle.pdf">settingsgradle.pdf</a></li>

            </ul>
        </li>
    </ul>
    <br>
    <br>
    <ul class="ascii">
        <li>favourites/
            <ul>
                <li>fonts/
                    <ul>
                        <li>operator mono</li>
                        <li>ellography</li>
                        <li>nunito</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>